/** Add css rules here for your application. */
pre.jobLog {
	
}

pre.jobLog .levelFatal {
	background-color: #F38F8F
}

pre.jobLog .levelError {
	background-color: #F3B38F
}

pre.jobLog .levelWarn {
	background-color: #F3F38F
}

pre.jobLog .levelInfo {
	background-color: #B9F3B9
}

pre.jobLog .levelDebug {
	background-color: #D4E0E7
}